/* ------------------------------------------------- */
/* --------------------- GLOBAL ---------------------*/
/* ------------------------------------------------- */

body {
  font-family: TS-Reg, sans-serif;
  background-color: white;
}

.container {
  width: 1092px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.gap {
  gap: 10px;
}

.smalltopmargin {
  margin-top: 10px;
}

/* ------------------------------------------------- */
/* --------------------- HEADER ---------------------*/
/* ------------------------------------------------- */

header {
  border-bottom: 1px solid #e0e0e0;
}

header div {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

header img {
  width: 200px;
}

header nav div {
  padding: 10px 10px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-weight: bold;
}

nav button {
  margin: auto 0;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 15px;
  color: white;
  background-color: black;
  border-radius: 20px;
}

nav button:hover {
  background-color: #4c4c4c;
}

div.hovergrey:hover {
  background-color: #f2f2f2;
}

/* ----------------------------------------------- */
/* --------------------- MAIN -------------------- */
/* ----------------------------------------------- */

main section {
  padding-top: 30px;
}

h1 {
  font-family: TS-Med;
  font-size: 50px;
  font-weight: bolder;
}

main section p {
  font-size: 14px;
  color: #333333;
}

main nav {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

main nav div {
  flex: 1;
  height: 70px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
}

main nav div:hover {
  background-color: black;
  color: white;
}

main nav div:hover p {
  color: white;
}

main nav p {
  font-family: TS-Med;
  font-size: 16px;
  font-weight: 400;
}

/* main nav p:hover {
  color: white;
} */

/* ----------------------------------------------- */
/* ----------------- GROUP PHOTO ---------------- */
/* ----------------------------------------------- */

.groupphoto {
  display: flex;
  justify-content: space-evenly;
  height: 460px;
}

.leftpic {
  flex: 3;
  height: 100%;
}
.leftpic img {
  margin: 2px 2px;
  height: 100%;
}

.rightpics {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.rightpics img {
  margin: 2px 2px;
  height: 49.5%;
}
main img {
  object-fit: fill;
}

/* ----------------------------------------------- */
/* ---------------------- NAV2 ------------------- */
/* ----------------------------------------------- */

.nav2 {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.nav2left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
}

.nav2 p,
.nav2 a {
  font-size: 10px;
}

a.linkover {
  text-decoration: none;
}

a.linkover:hover {
  text-decoration: underline;
}

.fa-chevron-right {
  font-size: 7px;
}
.fa-caret-down {
  font-size: 9px;
}

/* ----------------------------------------------- */
/* ---------------------- BLOC 2 ------------------- */
/* ----------------------------------------------- */

.intermdiv {
  height: 470px;
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.intermdivright {
  border-radius: 50px;
  width: 420px;
  display: flex;
  flex-direction: column;
}

.intermdivrightupper {
  border-radius: 20px 20px 0 0;
  background-color: #ff5e5e;
  padding: 40px 50px 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.intermdivright img {
  border-radius: 0 0 20px 20px;
  height: 30%;
  object-fit: cover;
}

h2 {
  font-family: TS-Med;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 30px;
}

#description {
  font-family: Georgia;
  font-size: 20px;
}

h3 {
  font-family: TS-Med;
  font-weight: bolder;
  font-size: 30px;
  line-height: 40px;
}

.intermdivrightupper p {
  font-weight: bolder;
  color: black;
  line-height: 20px;
}

#voyage {
  width: 155px;
  height: 55px;
  color: white;
  background-color: black;
  font-family: TS-Reg;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
}

.groupphoto img:hover {
  opacity: 0.75;
}

#voyage:hover {
  background-color: #4c1c1d;
}
